/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%;
	  font: inherit;
	  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	  display: block;
}
body {
	  line-height: 1;
}
ol, ul {
	  list-style: none;
}
blockquote, q {
	  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	  content: '';
	  content: none;
}
table {
	  border-collapse: collapse;
	  border-spacing: 0;
}
/* End CSS Reset */
/* Begin My CSS */
html{
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}
strong {
    font-weight: Bold;
}
em {
    font-style: italic;
}
a {
    font-style: underline;
}
a:visited {
    color:#555555;
}
a:hover {
    color:#ffffff;
}
p {
}
pre {
    font-family: 'IBM Plex Mono', monospace;
}
.condensed {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav{
    float: left;
}

li.nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #1f1;
}
