/* Creative Computing Style Sheet */
body {
    font-size: .8em;   
    font-family: 'Heebo', sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 4rem;
    font-family: 'Bowlby One SC', cursive;
}
p {
    margin-bottom: 1rem;
}
#content {
    margin: 10%;
    max-width: 800px;
}

.mainbody {
    column-count: 3; 
    column-gap: 2rem;
    text-align: justify;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.flex-item4 {
    width: 25%;
}
.flex-item34 {
    width: 75%;
}
.flex-item3 {
    width: 33%;
}
.flex-item2 {
    width: 50%;
}
.flex-item1 {
    width: 100%;
}
.flex-gutter {
    width:40px;
}
