/* Creative Computing Style Sheet */
body {
    font-size: .8em;   
    line-height: 1.2;
    background-color: #ddd;
}
p {
    margin-bottom: 1rem;
}
.artboard {
    background-color: #fff;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 2000px;
    height: 1000px;
}
.guide {
    margin: auto;
    width: 1px;
    height: 70px;
    background-color: #ddd;
}
.shapeholder {
    position: relative;
    top: 340px;
    left: 0px;
}
.circle {
    height: 350px;
    width: 350px;
    background-color: rgb(178,34,34);
    border-radius: 50%;
    position: absolute;
    left: 330px;
    top: 0px;
}
.tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent hsl(210, 50%, 50%) transparent;
    border-width: 0 200px calc(1.732 * 200px) 200px;
    margin: auto;
    position: absolute;
    left: 780px;
    top: 0px;
}
.square {
    height: 350px;
    width: 350px;
    background-color: rgb(255,215,0);
    position: absolute;
    top: 0px;
    left: 1350px;
}
#circle2 {
    left: 200px;
}
#tri2 {
    border-color: transparent transparent rgb(255,215,0) transparent;
}
#square2 {
    background-color: hsl(210, 50%, 50%);
}
