/* Creative Computing Style Sheet */
#content {
    background-color: #fff;
    margin: auto;
    margin-top: 32px;
    /* width: 1000px; */
    /* max-width: 1400px; */
    height: 90%;
    border: 1px solid #aaa;
    padding: 32px;
}
body {
    background-color: #eee;
    align-content: center;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    text-align: right;
    font-size: ;
}
 html {
     margin: 0;
     padding:0;
 }
p {
    margin-bottom: 1rem;
}
img {
    border-radius: 50%;
    width: 100%;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
     background-color: #ff00ee; 
}
.flex-item4 {
    width: 25%;
}
.flex-item34 {
    width: 75%;
}
.flex-item3 {
    width: 33%;
}
.flex-item2 {
    width: 50%;
     background-color: #00f0ee; 
}
.flex-item1 {
    width: 100%;
}
.flex-gutter {
    width:32px;
}
#tyger {
    color: #ffaaff;
}
