/* Creative Computing Style Sheet */
/****************************/
/* p {                      */
/*     margin-bottom: 1rem; */
/* }                        */
/* #content {               */
/*     margin: 10%;         */
/*     max-width: 800px;    */
/* }                        */
/*                          */
/* .mainbody {              */
/*     column-count: 3;     */
/*     column-gap: 2rem;    */
/*     text-align: justify; */
/* }                        */
/****************************/
body {
    background-color: #eeeed1;
}
#content {
    background-color: #ffffff;
    margin: 32px;
    width: 1200px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.flex-item4 {
    width: 25%;
}
.flex-item34 {
    width: 75%;
}
.flex-item3 {
    width: 33%;
}
.flex-item2 {
    width: 50%;
}
.flex-item1 {
    width: 100%;
}
.flex-gutter {
    width:40px;
}
