/* Creative Computing Style Sheet */
body {
    font-size: .8em;   
    line-height: 1.2;
    background-color: #ddd;
    margin: 100px;
}
p {
    margin-bottom: 1rem;
}
.artboard {
    background-color: #fff;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 300px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}
.guide {
    margin: auto;
    width: 1px;
    height: 70px;
    background-color: #ddd;
}
.shapeholder {
    margin: auto;
    vertical-align: middle;
}
.circle {
    height: 40vh;
    width: 40vh;
    background-color: hsl(249, 79.0%, 63.2%);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent hsl(249, 79.0%, 68.2%) transparent;
    border-width: 0 400px calc(1.732 * 400px) 400px;
    margin: auto;
}
.square {
    height: 350px;
    width: 350px;
    background-color: hsl(180, 100%, 34.5%);
}
.gradient {
    background-image: linear-gradient(pink, violet);
}
.blur {
    background-image: linear-gradient(pink, violet);
    filter: blur(20px);
}
#square0 {
    position: relative;
    top: -20vh;
    left: 20vh;
    mix-blend-mode: multiply;
    width: 40vh;
    height: 40vh;
}
.circle:hover {
    border-radius: 0;
    background-image: linear-gradient(pink, violet);
}
@keyframes circleToSquare {
    0% ( border-radius: 50%; background: violet; )
    100% ( border-radius: 0; background: pink; )
}
.animateCircle {
    animation-name: circleToSquare;
    animation-fill-mode: forwards;
    animation: normal 3000ms ease;
}
