/* Creative Computing Style Sheet */
body {
    font-size: .8em;   
    font-family: 'Heebo', sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 4rem;
    font-family: 'Bowlby One SC', cursive;
}
p {
    margin-bottom: 1rem;
}
#content {
    margin: 10%;
    max-width: 800px;
}

.mainbody {
    column-count: 3; 
    column-gap: 2rem;
    text-align: justify;
}
