/* Begin CSS Reset code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* End CSS Reset code */
/* Begin My Css */
html{
    background:GreenYellow;
}
body{
    font-family:  'Press Start 2P', cursive;
    color: DeepPink;
    margin:24px;
}
div.item{
    margin:48px;
    position:relative;
}
div.square{
    margin-top:24px;
    margin-right:24px;
    width:600px;
    height:100px;
    background:GhostWhite;
    position:relative;
}
h1{
    font-size:24px;
}
div{
    /* background-color:grey; */
}
a {
    color:DeepSkyBlue;
}
.long-shadow {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 25px;
    border: none;
    /* color: rgba(255,255,255,1); */
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
pre {
    font-family: Courier;
    background-color: GhostWhite;
    color: DarkGrey;
    padding: 20px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100%;
}
nav {
	background-color: yellow;
	}

