html{
    /* background:cyan; */
}
body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;  
    background:ghostwhite;
    width:50%;
    padding: 0px;
    margin: 0px;
}
div{
}
.header {
    padding: 24px;
    background:lightgray;
}
.footer {
    padding: 24px;
    background:lightgray;
}
.aside {
    padding: 24px;
    background:#aaaaaa;
}
.article {
    padding: 24px;
    background:#cccccc;
}
