body {
  background-color: lightblue;
  text-align: center;
  horizontal-
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

p {
  font-family: verdana;
  font-size: 20px;
  margin-top: 0px;
}

ol, ul {
    text-align: left;
}
div {
  width: 1000px;
}
