/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
} 
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End CSS Reset */
/* Begin My CSS */
html{
    background:bonewhite;
}
body{
    font-family: 'Vollkorn', serif;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 4rem;
} 
strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
p {
    margin-bottom: 1rem;
    widows: 5;
    orphans: 5;
}
h1 {
    font-size: 6rem;
    font-weight: 900;
    line-height:5.5rem;
    text-align:left;
    /* margin-bottom: .5rem; */
    margin-top: 2rem
}
h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.aside {
    font-size: 1rem;
    text-align: left;
    color: gray;
}
img{
    margin-top: 1rem;
}
blockquote{
    color:grey;
}
#bio {
    display: none;
}
@page {
    size: 5.5in 8.5in;
    margin-bottom: 24pt;
}
@page:right{ 
    @bottom-left {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: "My book";
        font-size: 9pt;
        color: #333;
    }
}
@media print {
    body {
        font-size: 10pt;
        line-height: 14pt;
    }
    p {
        margin-bottom: 14pt;
      }
    h1 {
        font-size: 54pt;
        line-height: 50pt;
        margin-bottom: 1rem;
    }
    .aside {
        display: none;
    }
    .pagebreak {
        page-break-after: always;
    }
    #bio {
        /* width: 3in; */
        margin-left: 8pt;
        /* margin-right: 18pt; */
        display: block;
        page-break-after: always;
        text-align: center;
        font-size: 8pt;
        margin-top: 74pt; 
    }
}

