/* Creative Computing Style Sheet */
body {
    font-size: 1em;   
    font-family: 'Alegreya', serif;
    margin: auto;
    max-width: 800px;
    margin-top: 64px;
    margin-bottom: 96px;
}
p {
    font-size: 1em;   
    line-height: 1.3em;
}
blockquote {
    color: gray;
}
h1 {
    font-size: 3rem;
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
}
.text {
    column-count: 2; 
    column-gap: 2rem;
    text-align: justify;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.flex-item4 {
    width: 25%;
}
.flex-item34 {
    width: 75%;
}
.flex-item3 {
    width: 33%;
}
.flex-item2 {
    width: 50%;
}
.flex-item1 {
    width: 100%;
}
.flex-gutter {
    width:40px;
}
