html{
    /* background:cyan; */
}
body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;  
    background:ghostwhite;
    width:50%;
    padding: 0px;
    margin: 0px;
    width: 800px;
    margin: auto;
}
div{
    padding: 24px;
    border-style:dotted;
    border-width:1px;
}
.header {
    background:lightgray;
}
.footer {
    background:lightgray;
}
.aside {
    background:#aaaaaa;
}
.article {
    background:#cccccc;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 0px;
}
.flex-gutter {
    width: 2rem;
}
.flex-item2 {
    width: 50%;
}
